.thebackground {
    -fx-background-color : #B3E5FC;
    }
.title {
	-fx-font-size: 30;
	-fx-font-weight: bold;
}
.inputSection {
    -fx-background-color : #E1F5FE;
    }

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-border-radius    : 1.1;
    -fx-border-color     : #01579B;
    -fx-border-width     : 1.6;
    }

.button:hover {
    -fx-background-color : #01579B;
    }
